extends layout

block content
  h1= title
  p Welcome to #{title}


  if messages.length
    ul
      each messg in messages
        li
          h2 #{messg.user} #{messg.added}
          p #{messg.text}

